.container-chart {
    width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left-chart {
    margin-top: 40px;
    width: 600px;
    display: inline-block;
}

.right-chart {
    margin-top: 45px;
    width: 350px;
    position: relative;
}