<div class="container-select">
    <div class="container-select-category">
        <p class="text_select">Select Category</p>
        <div>
            <div class="tabs">
                <button class="btn-tabs" *ngFor="let tab of tabs;let i = index" (click)="select(tab, i)" [ngClass]="{'selected-tab' : tab.selected}">
              {{ tab.name }}
            </button>
            </div>
            <div class="container-link">
                <table>
                    <tr *ngFor="let link of links">
                        <td>
                            <a href=" ">{{ link.name }}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="container-select-country ">
        <p class="text_select ">Select Country</p>
        <div class="box ">
            <select>
              <option value=" " disabled selected hidden>- No country selected -</option>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
        </div>
        <!-- <mat-form-field class="incercare">
            <mat-label>- No country selected -</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
    </div>
</div>
