.container-head__title {
    width: 990px;
    margin: 15px auto;
    border-top: 1px solid #CBD6E2;
    border-bottom: 1px solid #CBD6E2;
}

h1 {
    text-align: center;
    font-size: 22px;
    margin: 12px 0;
    font-weight: 900;
    color: #333;
}

i {
    margin-right: 10px;
    color: #fff;
}

i.fas {
    display: inline-block;
    border-radius: 50%;
    padding: 0.3em 0.5em;
    background: #0094EB;
}
