.container-head__title {
    width: 990px;
    margin: 15px auto;
    border-top: 1px solid #CBD6E2;
    border-bottom: 1px solid #CBD6E2;
}

h1 {
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    color: #333;
}

i {
    margin-right: 10px;
    left: 222px;
    top: 15px;
}

.circle-icon {
    background: #0094EB;
    padding-top: 10px;
    width: 42px;
    height: 30px;
    border-radius: 50%;
}