@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900 &display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif !important;
}

.container {
    width: 990px;
    margin: 0 auto;
}

.mat-typography h1 {
    margin: 0;
    font-family: "Roboto", sans-serif !important;
}
