.info {
  display: block;
}
.left-container {
}
.circle-info {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    width: 170px;
    height: 170px;
    border: 5px solid #0094EB;
    color: #0094EB;
    border-radius: 50%;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    line-height: 170px;
}
